<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Главная страница</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
	{% if request.user.is_authenticated %}
		<h3>{{ request.user }}</h3>
		<h4><a href="{% url 'logout_page' %}">выйти</a></h4>
		<a href="{% url 'questionnaires_create' %}">Cоздать анкету</a><br>
		{% for questionnaires in questionnaires_create %}
			{{ questionnaires }} |	
		{% endfor %}
		{% for questionnaires in questionnaires_list %}
			{{ questionnaires }} |
			<a href="{% url 'questionnaires_update' questionnaires.pk %}">Измененить анкету</a><br>
		{% endfor%}
			{% if user.is_superuser %}
				{% for questionnaires in questionnaires_create_return %}
				<form method="post" action="{% url 'acept_questionnaires' questionnaires.pk %}">
				{% csrf_token %}
				<input type="submit" value="Принять">	
				</form>
				<form method="post" action="{% url 'reject_questionnaires' questionnaires.pk %}">
				{% csrf_token %}
    			<input type="submit" value="Отклонить">
				</form>
				{% endfor%}
			{% endif %}
	{% else %}
		<h4><a href="{% url 'register_page' %}">регистрация</a></h4>
		<h4><a href="{% url 'login_page' %}">авторизация</a></h4>
	{% endif %}
{% endblock %}
</body>
</html>